In [2]:
import pandas as pd

# Lecture du fichier Excel
file_path = "../data/perf_kilo.xlsx"
try:
    df = pd.read_excel(file_path, sheet_name="distance")
    print(df.head())
except Exception as e:
    print(f"Une erreur s'est produite : {e}")

         day  distance(m)
0 2021-06-18        333.0
1 2021-06-19       8400.0
2 2021-06-20       4000.0
3 2021-06-21       4900.0
4 2021-06-22        640.0

In [3]:
df.describe()

                       day   distance(m)
count                 1308   1246.000000
mean   2023-04-02 12:00:00   2909.093900
min    2021-06-18 00:00:00      9.000000
25%    2022-05-10 18:00:00   1100.000000
50%    2023-04-02 12:00:00   2300.000000
75%    2024-02-23 06:00:00   4200.000000
max    2025-01-15 00:00:00  15600.000000
std                    NaN   2434.651484

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308 entries, 0 to 1307
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          1308 non-null   datetime64[ns]
 1   distance(m)  1246 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 20.6 KB

In [12]:
len(df['distance(m)'].isna())

1308

In [15]:
df['distance(m)'].count()

np.int64(1246)

In [11]:
print(df.iloc[1245])

day            2024-11-14 00:00:00
distance(m)                  900.0
Name: 1245, dtype: object

In [17]:
dist = df.iloc[0:1246]
dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246 entries, 0 to 1245
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          1246 non-null   datetime64[ns]
 1   distance(m)  1246 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 19.6 KB

In [18]:
dist.tail()

            day  distance(m)
1241 2024-11-10       2000.0
1242 2024-11-11       2700.0
1243 2024-11-12       1100.0
1244 2024-11-13       2500.0
1245 2024-11-14        900.0

In [19]:
from utils import data_import

In [20]:
# Appel de la fonction avec un chemin de fichier
file_path = "../data/perf_kilo.xlsx"
data = data_import(file_path)

if data is not None:
    print("Importation réussie !")
else:
    print("Échec de l'importation.")

         day  distance(m)
0 2021-06-18        333.0
1 2021-06-19       8400.0
2 2021-06-20       4000.0
3 2021-06-21       4900.0
4 2021-06-22        640.0
Importation réussie !

In [8]:
from utils import data_import, removed

# Chemin vers le fichier Excel
file_path = "../data/perf_kilo.xlsx"

# Étape 1 : Importer les données
df = data_import(file_path)

# Étape 2 : Nettoyer les données en supprimant les lignes vides
cleaned_df = removed(df)

# Affichage du résultat final
if cleaned_df is not None:
    print("\nDataFrame nettoyé :")
    print(cleaned_df)

         day  distance(m)
0 2021-06-18        333.0
1 2021-06-19       8400.0
2 2021-06-20       4000.0
3 2021-06-21       4900.0
4 2021-06-22        640.0
62 ligne(s) vide(s) supprimée(s).

DataFrame nettoyé :
            day  distance(m)
0    2021-06-18        333.0
1    2021-06-19       8400.0
2    2021-06-20       4000.0
3    2021-06-21       4900.0
4    2021-06-22        640.0
...         ...          ...
1241 2024-11-10       2000.0
1242 2024-11-11       2700.0
1243 2024-11-12       1100.0
1244 2024-11-13       2500.0
1245 2024-11-14        900.0

[1246 rows x 2 columns]